<div class="rowd">
  <div class="col-md-4">
<div class="list-group">
    <a  (click)="ejecutarSonido(1)" class="list-group-item list-group-item-action">Do</a>
  
    <a  (click)="ejecutarSonido(2)"class="list-group-item list-group-item-action" style="background-color: cyan;">Re</a>
    <a  (click)="ejecutarSonido(3)"class="list-group-item list-group-item-action" style="background-color: gray;">Mi</a>
    <a  (click)="ejecutarSonido(4)"class="list-group-item list-group-item-action" style="background-color: gainsboro;">Fa</a>
    <a  (click)="ejecutarSonido(5)"class="list-group-item list-group-item-action" style="background-color:ghostwhite ;">Sol</a>
    <a  (click)="ejecutarSonido(6)"class="list-group-item list-group-item-action" style="background-color: rosybrown ;">La</a>
    <a  (click)="ejecutarSonido(7)"class="list-group-item list-group-item-action" style="background-color:paleturquoise ;">Si</a>
  </div>
</div>
</div>
<!--
  <audio controls>
    <source src="../../../assets/sonidos/note1.wav">
  </audio>-->